@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.Page1{
    min-height: 100vh;
    background-image: url("../Images/Mountain1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.Page1-Header{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    display: flex;
    font-size: 60px;
    color: white;
    justify-content: center;
    padding-top: 200px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Page1-strings{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    display: flex;
    font-size: 30px;
    color: white;
    justify-content: center;
    padding-top: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.Page2{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
}

.Page2-Header{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    display: flex;
    padding-top: 30px;
    font-size: 60px;
    color: white;
    justify-content: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Page2-AboutUs{
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.Page2-AboutUsContent{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    display: flex;
    font-size: 23px;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    width: 50%;
}

.Page2-AboutUsCarousel{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    display: flex;
    font-size: 23px;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    width: 50%;
}


.Page3{
    min-height: 100vh;
    background-image: url("../Images/BG2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.Page3-Header{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    display: flex;
    padding-top: 35px;
    font-size: 60px;
    color: white;
    justify-content: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Page3-Content{
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 80px;
    justify-content: center;
}

.Page3-ServiceBox {
    height: 550px;
    width: 350px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Adjust opacity as needed */
    backdrop-filter: blur(20px); /* Adjust blur radius as needed */
}

.Page3-ServiceBoxHeader{
    height: 40px;
    width: 350px;
    color: black;
    padding: 5px 15px;
    font-size: 30px;
    font-weight: 600;
}

.Page3-ServiceBoxHeader2{
    height: 80px;
    width: 350px;
    color: black;
    padding: 5px 15px;
    font-size: 30px;
    font-weight: 600;
}

.Page3-ServiceBoxDescription{
    height: 430px;
    width: 350px;
    color: black;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
}

.Page3-ServiceBoxDescription2{
    height: 390px;
    width: 350px;
    color: black;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
}

.Page3-ServiceBoxDescription{
    height: 430px;
    width: 350px;
    color: black;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
}

.Page3-ServiceBoxButton{
    height: 70px;
    width: 350px;
    color: black;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #654321 ;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #775c41 ;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.Page4-1{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.Page4-2{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.Page4-3{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.Page4-4{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.Page4-5{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.Page4-6{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.Page4-7{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.Page4-8{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.Page4-9{
    min-height: 70vh;
    background-color: black;
    padding-bottom: 30px;
    background-image: url("../Images/BG9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.Page4-Header{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    display: flex;
    padding-top: 35px;
    font-size: 60px;
    color: white;
    justify-content: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Page4-Content{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
}

.Page4-TextContent{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    display: flex;
    font-size: 23px;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    width: 50%;
}

.Page4-AboutUsCarousel{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    display: flex;
    font-size: 23px;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    width: 50%;
}

.Page5{
    background-image: url("../Images/BG10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


@media screen and (max-width: 1100px) {
    .Page2-AboutUsContent{
        width: 100%;
    }
    
    .Page2-AboutUsCarousel{
        width: 100%;
    }
    .Page4-TextContent{
        width: 100%;
    }
    
    .Page4-AboutUsCarousel{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .Page1-Header{
        font-size: 50px;
    }
    
    .Page1-strings{
        font-size: 25px;
    }

    .Page2-Header{
        font-size: 50px;
    }

    .Page2-AboutUsContent{
        font-size: 19px;
    }

    .Page4-TextContent{
        font-size: 19px;
    }

    .Page4-Header{
        font-size: 50px;
    }

    .Page4-Headeralt{
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .Page1-Header{
        font-size: 40px;
    }
    
    .Page1-strings{
        font-size: 20px;
    }

    .Page2-Header{
        font-size: 40px;
    }

    .Page2-AboutUsContent{
        font-size: 17px;
    }

    .Page4-TextContent{
        font-size: 17px;
        padding: 10px 10px;
    }

    .Page4-Header{
        font-size: 40px;
        padding: 0px 30px;
    }
    .Page4-Headeralt{
        font-size: 40px;
        padding: 0px 30px;
    }
}